# Docker Compose 운영 서버 (docker-compose.prod.yml)
# 복사해 .env.prod 로 저장 후 값 채움
# 실행: docker-compose --env-file .env.prod -f docker-compose.yml -f docker-compose.prod.yml --profile blue --profile green up -d

# MYSQL
MYSQL_ROOT_PASSWORD= # MYSQL ROOT 비밀번호
MYSQL_DATABASE= # MYSQL database 이름
MYSQL_USER= # MYSQL 유저
MYSQL_PASSWORD= # MYSQL 유저 비밀번호

# REDIS
REDIS_PASSWORD= # REDIS 비밀번호

# RABBITMQ
RABBITMQ_DEFAULT_USER= # RABBITMQ 유저
RABBITMQ_DEFAULT_PASS= # RABBITMQ 비밀번호